* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hero-content {
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  color: white;
  text-align: center;

  span {
    border-top: 2px solid white;
    font-size: 200%;
  }
  h4 {
    font-size: 250%;
  }
}
.hero-class {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../../Assets/img/bg1.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.arrow-down {
  position: relative;
  color: white;
  animation: downup 3s;
  animation-iteration-count: infinite;
}
@keyframes downup {
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.aboutme-class {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../../Assets/img/bg5.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutme-content {
  h3 {
    text-align: center;
  }
}
.aboutme-container {
  color: white;
  padding: 20px;
  border-radius: 30px;
  background-color: black;
  height: fit-content;
  width: fit-content;
  margin: 20px;
}
.img-scroll-active {
  opacity: 100% !important;
}
.img-scroll {
  transition-duration: 4s;
  opacity: 0%;
}
.content-text-active {
  opacity: 1 !important;
  animation-duration: 4s;
}
.content-text {
  opacity: 0;
  animation-duration: 4s;
  margin: 20px;
  @media only screen and (max-width: 375px) {
    margin: 0px !important;
    font-size: 12px;
  }
  h4 {
    display: block;
  }
  p {
    display: block;
  }
  table {
    display: block;
  }
}

.flex-container {
  justify-content: space-between;
  align-items: center;
  display: flex;

  @media only screen and (max-width: 670px) {
    justify-content: space-between;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.content-img {
  margin: 20px;
  @media only screen and (max-width: 375px) {
    margin: 0px !important;
    text-align: center !important;
  }
}
.hero-content {
  @media only screen and (max-width: 375px) {
    span {
      border-top: 2px solid white;
      font-size: 120%;
    }
    h4 {
      font-size: 170%;
    }
  }
}
.myskill-class {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../../Assets/img/bg6.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.myskill-content {
  text-align: center;
  justify-content: center;
  align-items: center;
}
.center-col {
  justify-content: center;
  align-items: center;
}
navbar-container .navbar-hero {
  margin: 5px;
}
.navbar-container {
  border-radius: 200px;
  margin: 0px 20px;
  position: sticky;
  position: -webkit-sticky;
  top: 15px;
  background-color: white;
  box-shadow: 3px;
  z-index: 5;

  a {
    margin: 5px;
    text-decoration: none;
    color: black;
    padding-left: 3px;
    padding: 5px;
    transition: 0.5s;
    border-radius: 10px;
  }
  a:hover {
    color: black;
  }
}
.navbar-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar-center {
  background-color: black;
  padding: 10px;
  border-radius: 10px;

  svg {
    margin: 5px;
    width: 20px;
  }
  @media only screen and (max-width: 550px) {
    display: none;
  }
}
.btn-dokumentasi {
  text-decoration: none;
  border-radius: 100px;
  padding: 10px;
  outline-color: #13CB6E;
  outline-style: solid;
  border-radius: 100px;
  color: black;
  transition-duration: 0.5s;
  &:hover {
    background-color: #0F897E;
    color: white;
  }
}
.navbar-onclick {
  display: none !important;
  @media only screen and (max-width: 710px) {
    display: block !important;
  }
}
.navbar-end {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;

  a:hover {
    background-color: black;
    color: white;
  }
  svg {
    width: 20px;
    margin: 5px;
  }

  @media only screen and (max-width: 710px) {
    display: none;
  }
}
.footer-container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-content-svg {
  justify-content: center;
  text-align: center;
  display: flex;

  svg {
    margin: 5px;
    width: 30px;
  }
}
